.elements__list {
  display: flex;
  flex-wrap: wrap;
  /* align-content: center; */
  margin: 58px auto 15px;
  padding: 0;
  width: 90%;

  /*
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 288px));
  gap: 10px; */

  list-style: none;
}


@media screen and (min-width: 768px) {
  .elements__list {
    margin: 32px auto;
    /* grid-template-columns: repeat(auto-fill, minmax(0, 224px));
    gap: 8px; */
  }
}

@media screen and (min-width: 1024px) {
  .elements__list {
    margin: 62px auto;
    /* grid-template-columns: repeat(auto-fill, minmax(0, 300px));
    gap: 16px; */
  }
}

/* @media screen and (min-width: 1366px) {
  .elements__list {
    grid-template-columns: repeat(auto-fill, minmax(0, 400px));
  }
} */