.element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto;
  padding: 0;
  width: 90%;
  max-width: 288px;
  cursor: pointer;
}

.element:hover {
  transform: scale(1.02);
}

.element__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  padding: 0 16px;
  border-radius: 0px 0px 10px 10px;
  background: #ffffff;
}

.element__buttons {
  filter:
  drop-shadow(
    1px 2px 8px hsl(200deg 50% 40% / 0.2)
  );

  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 5%;
  right: 5%;

  background: none;
  border: 0;
  box-sizing: border-box;
  /* z-index is needed to compensate the transform of the card (scale) */
  z-index: 1;
}

.element__button {
  width: 40px;
  height: 40px;
  top: 0%;
  right: 2%;
  margin: 0 auto;
  padding: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.element__button-text {
  visibility: visible;

  display: flex;
  align-items: center;
  height: 40px;
  margin: 0 10px 0 0;
  padding: 0 20px;
  background: #FFFFFF;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  border: 0;
  border-radius: 10px;
  color: #000000;
  text-align: center;
}

.element__button-text_hidden {
  visibility: hidden;
}

.element__bookmark {
  background-image: url('../../images/bookmark.svg');
}

.element__bookmark:hover {
  background-image: url('../../images/bookmark-hover.svg');
}

.element__bookmark_clicked {
  background-image: url('../../images/bookmark-clicked.svg');
}

.element__delete {
  position: absolute;
  background-image: url('../../images/trash.svg');
}

.element__delete:hover {
  background-image: url('../../images/trash-hover.svg');
}

.element__photo {
  /* gives a shadow to images to highlight where image has same color as its parent's background */
  filter:
  drop-shadow(
    1px 2px 8px hsl(200deg 50% 40% / 0.2)
  )
  drop-shadow(
    2px 4px 16px hsl(200deg 50% 40% / 0.2)
  );
  width: 100%;
  min-height: 196px;
  cursor: pointer;
  border-radius: 10px 10px 0px 0px;
}

.element__photo:hover {
  opacity: .8;
}

.element__photo_notfound {
  border-bottom: 1px solid #B6BCBF;
}

.element__date {
  margin: 16px 0 0;
  padding: 0;
  font-family: 'Inter', 'Source Sans Pro', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;

  color: #B6BCBF;
}

.element__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 60px;
  margin: 12px 0 0;
  padding: 0;

  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 115%;

  color: #1A1B22;
}

.element__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 88px;
  margin: 14px 0 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 137%;

  color: #1A1B22;
  text-overflow: ellipsis;
}

.element__source {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;

  margin: 20px 0 16px;
  padding: 0;

  color: #B6BCBF;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 768px) {
  .element {
    max-width: 224px;
  }

  .element__photo {
    min-height: 150px;
  }

  .element__date {
    margin-top: 20px;
  }

  .element__title {
    -webkit-line-clamp: 3;
  }

  .element__description {
    margin-top: 10px;
  }

  .element__source {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .element {
    max-width: 300px;
  }

  .element__details {
    padding: 0 24px;
  }

  .element__photo {
    min-height: 250px;
  }

  .element__title {
    margin-top: 16px;
    -webkit-line-clamp: 2;
  }

  .element__description {
    margin-top: 16px;
    height: 105px;
    -webkit-line-clamp: 5;
  }

  .element__source {
    margin: 18px 0 24px;
  }
}

@media screen and (min-width: 1366px) {
  .element {
    max-width: 400px;
  }

  .element__photo {
    min-height: 272px;
  }
}