@import '~@csstools/normalize.css';
@import url('./vendor/fonts/font.css');

body {
  font-family: 'Roboto Slab', 'Roboto', 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #FFFFFF;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  margin: 0;
}

a:link {
  text-decoration: none;
}

#root {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 1441px) {
  #root {
    border: 1px solid #D1D2D6;
  }
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
